<%- model_class = Task -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<header class="tasks">Owned tasks</header>
<hr />
<%= render :partial => 'tasks', locals: {tasks: @owned_tasks, 
                                         include_complete_link: true,
                                         include_project_info: true,
                                         include_owner_info: true} %>

<header class="tasks">Unassigned tasks</header>
<hr />
<%= render :partial => 'tasks', locals: {tasks: @unassigned_tasks, 
                                         include_complete_link: false,
                                         include_project_info: true,
                                         include_owner_info: true} %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_task_path,
            :class => 'btn btn-primary' %>
